#### **숙박 데이터 전처리**

In [1]:
import chardet

# 파일 경로
file_path = "C:/Users/mcw08/OneDrive/바탕 화면/동덕여대/2025 문화 디지털혁신 및 데이터 활용 공모전/새로운 데이터/숙박 데이터/hotel_address.csv"

# 인코딩 감지
with open(file_path, 'rb') as f:
    result = chardet.detect(f.read(10000))  # 처음 10,000바이트 분석
    print(result)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [2]:
import pandas as pd

file_path = "C:/Users/mcw08/OneDrive/바탕 화면/동덕여대/2025 문화 디지털혁신 및 데이터 활용 공모전/새로운 데이터/숙박 데이터/hotel_address.csv"

hotel_df = pd.read_csv(file_path, encoding='utf-8-sig')
hotel_df

,LDGS_NM,LDGS_ADDR,LDGS_ROAD_NM_ADDR,GSRM_SCALE_CN,LDGS_GRAD_VALUE,LDGMNT_TY_NM,LDGS_AVRG_PRC,LDGS_MIN_PRC,LDGS_MXMM_PRC,LDGS_AVRG_SCORE_CO,위도,경도
0,stx 리조트,경북,경북 문경시 농암면 청화로 509,200개 이상,성급없음,휴양콘도미니엄업,154079,105000,270600,9,36.569324,127.964360
1,경주 코오롱호텔,경북,경북 경주시 불국로 289-17,200개 이상,4성,관광호텔업,231518,74000,924000,9,35.787693,129.321973
2,곤지암리조트,경기,경기 광주시 도척면 도척윗로 278,200개 이상,성급없음,숙박업(생활),276738,101823,501400,9,37.337559,127.296189
3,그랜드 워커힐 서울,서울,서울특별시 광진구 워커힐로 177,200개 이상,5성,관광호텔업,418933,157700,762300,8,37.558629,127.111707
4,그랜드 조선 부산,부산,부산 해운대구 해운대해변로 292,200개 이상,5성,관광호텔업,615915,219999,990000,9,35.160066,129.163128
...,...,...,...,...,...,...,...,...,...,...,...,...
125,호텔현대 바이 라한 목포,전남,전남 영암군 삼호읍 대불로 91,200개 이상,4성,관광호텔업,208659,99000,604056,9,34.733475,126.387321
126,휘닉스 섭지코지,제주,제주특별자치도 서귀포시 성산읍 섭지코지로 107,200개 이상,성급없음,숙박업(생활),451920,181751,990909,9,33.426042,126.926443
127,휘닉스평창 호텔,강원,강원 평창군 봉평면 태기로 174,200개 이하,4성,관광호텔업,338300,72000,790000,10,37.582542,128.326741
128,힐튼 호텔 경주,경북,경북 경주시 보문로 484-7,200개 이상,5성,관광호텔업,458950,160000,825220,8,35.839913,129.285948
129,힐튼 호텔 부산,부산,부산 기장군 기장읍 기장해안로 268-32,200개 이상,성급없음,관광호텔,587997,83864,990000,8,35.198124,129.228484

In [3]:
hotel_df["LDGS_AVRG_SCORE_CO"].unique()

array([ 9,  8,  7, 10], dtype=int64)

In [4]:
hotel_df["LDGS_ADDR"].unique()

array(['경북', '경기', '서울', '부산', '강원', '제주', '경남', '전남', '인천', '대구', '전북',
       '대전', '충남', nan, '충북', '울산'], dtype=object)

In [9]:
hotel_df[hotel_df["LDGS_ADDR"].isnull()]

,LDGS_NM,LDGS_ADDR,LDGS_ROAD_NM_ADDR,GSRM_SCALE_CN,LDGS_GRAD_VALUE,LDGMNT_TY_NM,LDGS_AVRG_PRC,LDGS_MIN_PRC,LDGS_MXMM_PRC,LDGS_AVRG_SCORE_CO,위도,경도
36,롯데호텔 울산,NaN,울산광역시 남구 삼산로 282 (삼산동),200개 이하,5성,관광호텔업,243193,152378,435600,9,35.538636,129.338055

In [14]:
# LDGS_ADDR이 NaN인 행에 '울산광역시' 입력
hotel_df.loc[hotel_df["LDGS_ADDR"].isnull(), "LDGS_ADDR"] = "울산"
hotel_df.iloc[36]

LDGS_NM                              롯데호텔 울산
LDGS_ADDR                                 울산
LDGS_ROAD_NM_ADDR     울산광역시 남구 삼산로 282 (삼산동)
GSRM_SCALE_CN                        200개 이하
LDGS_GRAD_VALUE                           5성
LDGMNT_TY_NM                           관광호텔업
LDGS_AVRG_PRC                         243193
LDGS_MIN_PRC                          152378
LDGS_MXMM_PRC                         435600
LDGS_AVRG_SCORE_CO                         9
위도                                 35.538636
경도                                129.338055
Name: 36, dtype: object